#secondary-clock-screen {
  background-color: rgb(0, 0, 0);
  padding: 2.75rem 1.25rem;
}

#secondary-clock-screen .clock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#secondary-clock-screen .clock-header .settings-container i {
  font-size: 1.5rem;
  color: rgb(50, 50, 175);
  transition: .35s;
}
#secondary-clock-screen .clock-header .settings-container i:hover {
  transform: scale(1.2);
}

#secondary-clock-screen .clock-footer div {
  text-align: center;
  padding: 0 1rem;
  transition: .3s;
}
#secondary-clock-screen .clock-footer div:hover {
  transform: scale(1.15);
}
#secondary-clock-screen .clock-footer div .icon-container i {
  font-size: 1.15rem;
  margin-bottom: .5rem;
}
#secondary-clock-screen .clock-footer div .section-name {
  font-size: .85rem;
  margin: 0;
}


#secondary-clock-screen main .clock-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .75rem;
  height: 250px;
}
#secondary-clock-screen main .clock-icon-container img {
  position: absolute;
}
#secondary-clock-screen main .clock-icon-container .clock-hands {
  margin-bottom: 52%;
}
#secondary-clock-screen main .clock-icon-container .second-hand,
#secondary-clock-screen main .clock-icon-container .minute-hand,
#secondary-clock-screen main .clock-icon-container .hour-hand {
  width: 1px;
  border-radius: 1px;
  transform-origin: bottom;
  animation-name: rotateHand;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#secondary-clock-screen main .clock-icon-container .clock-hands .second-hand-container,
#secondary-clock-screen main .clock-icon-container .clock-hands .minute-hand-container,
#secondary-clock-screen main .clock-icon-container .clock-hands .hour-hand-container {
  position: absolute;
  transform-origin: bottom;
}

#secondary-clock-screen main .clock-icon-container .second-hand {
  height: 100px;
  background-color: red;
  animation-duration: 60s;
}
#secondary-clock-screen main .clock-icon-container .minute-hand {
  height: 75px;
  margin-top: 25px;
  background-color: white;
  animation-duration: 3600s;
}
#secondary-clock-screen main .clock-icon-container .hour-hand {
  height: 50px;
  margin-top: 50px;
  background-color: white;
  animation-duration: 43200s;
}
@keyframes rotateHand {
  100% {
    transform: rotate(360deg);
  }
}

#secondary-clock-screen main .add-alarm-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
#secondary-clock-screen main .add-alarm-container .add-alarm {
  font-size: 1.75rem;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  transition: .3s;
}
#secondary-clock-screen main .add-alarm-container .add-alarm:hover {
  box-shadow: 0 0 35px blue;
}

#secondary-clock-screen .clock-footer .alarm-container {
  color: blue;
}

#secondary-clock-screen .alarm-list-container {
  height: 22.25rem;
  overflow-y: scroll;
}
#secondary-clock-screen .alarm-list-container::-webkit-scrollbar {
  width: 0;
}
#secondary-clock-screen .alarm-list-container p {
  margin: 0;
}
#secondary-clock-screen .alarm-list-container .alarm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
#secondary-clock-screen .alarm-list-container .alarm-container .alarm-info .alarm-time {
  font-size: 2.75rem;
  font-weight: 200;
  letter-spacing: 1px;
}
#secondary-clock-screen .alarm-list-container .alarm-container .alarm-info .alarm-meridiem {
  font-size: 1rem;
  margin-left: .3rem;
  margin-bottom: .625rem;
  color: rgba(255, 255, 255, .9);
}
#secondary-clock-screen .alarm-list-container .alarm-container .alarm-info .alarm-day {
  margin-top: -.25rem;
  font-size: .9rem;
  color: rgba(255, 255, 255 , .6);
}


.clock-toggle-button {
  border: none;
  border-radius: 25px;
  width: 3rem;
  display: flex;
  align-items: center;
  padding: .2rem;
  transition: .3s;
}
.clock-toggle-button[data-state="off"] {
  background-color: rgb(100, 100, 100);
  justify-content: start;
}
.clock-toggle-button[data-state="on"] {
  background-color: blue;
  justify-content: end;
}
.clock-toggle-button[data-state="off"]:hover {
  background-color: rgb(160, 160, 160);
}
.clock-toggle-button[data-state="on"]:hover {
  background-color: rgb(101, 101, 255);
}
.clock-toggle-button div {
  height: 1.15rem;
  width: 1.15rem;
  background-color: white;
  border-radius: 50%;
  transition: .3s;
  pointer-events: none;
}

.create-alarm-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  padding: 3.5rem 1.5rem;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: right;
  transition: .3s;
}

.create-alarm-page-active {
  transform: scaleX(1);
}

.create-alarm-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.create-alarm-page-header button {
  color: blue;
  background-color: black;
  border: none;
  margin-right: .5rem;
  margin-left: -1rem;
  transition: .125s;
}
.create-alarm-page-header button i {
  font-size: 2.25rem;
}
.create-alarm-page-header button:hover {
  transform: scale(1.25);
}
.create-alarm-page-header label {
  font-size: 1.15rem;
}

.display-timer-time {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 2rem;
  margin-bottom: 1.75rem;
}
.display-timer-time .create-alarm-meridiem {
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
  align-items: center;
}
.display-timer-time .create-alarm-time {
  display: flex;
  column-gap: 1.25rem;
}
.display-timer-time .create-alarm-time div {
  font-size: 3rem;
}
.display-timer-time .create-alarm-time div .time-measuring-unit {
  font-size: 1rem;
  margin-left: .5rem;
}

.create-alarm-page .repeat-day-select {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.75rem;
  margin-top: 1rem;
}
.create-alarm-page .repeat-day-select button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: .3s;
}
.create-alarm-page .repeat-day-select button:hover {
  transform: scale(1.1);
  color: blue;
  background-color: rgb(25, 25, 25);
}

.create-alarm-page .ringtone-selection {
  padding: .5rem;
  border-radius: 8px;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
}
.create-alarm-page .ringtone-selection:hover {
  background-color: rgb(25, 25, 25);
}
.create-alarm-page .ringtone-selection .create-alarm-ringtone {
  font-size: .825rem;
  color: rgba(255, 255, 255, .6);
  display: flex;
  align-items: center;
}
.create-alarm-page i {
  font-size: 1.5rem;
  margin-left: .25rem;
}

.create-alarm-page .vibrate-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  margin-bottom: 1.5rem;
}
.create-alarm-page .vibrate-selection .vibrate-labeling {
  display: flex;
  flex-direction: column;
  row-gap: .15rem;
}
.create-alarm-page .vibrate-selection .vibrate-labeling span {
  font-size: .75rem;
  color: rgba(255, 255, 255, .6);
}
.create-alarm-label-selection {
  padding: .5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
}
.create-alarm-label-selection:hover {
  background-color: rgb(25, 25, 25);
}

.create-alarm-page .create-alarm-options {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}
.create-alarm-page .create-alarm-options button {
  font-size: 1.125rem;
  font-weight: 500;
  width: 12rem;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 50px;
  padding: .5rem 0;
  transition: .3s;
}
.create-alarm-page .create-alarm-options button:hover {
  color: blue;
  background-color: rgb(203, 203, 203);
}

.create-alarm-page .alarm-time-selection {
  margin-top: 4rem; 
}
.create-alarm-page .alarm-time-selection .shadow {
  box-shadow: 0 -35px 35px -6px rgba(0, 0, 255, 0.4);
  height: 3rem;
  border-radius: 50%;
}
.create-alarm-page .alarm-time-selection div span {
  margin: 0 1.25rem;
}
.create-alarm-page .alarm-time-selection div .first,
.create-alarm-page .alarm-time-selection div .fifth {
  color: rgba(255, 255, 255, .3);
}
.create-alarm-page .alarm-time-selection div .second,
.create-alarm-page .alarm-time-selection div .fourth {
  font-size: 1.75rem;
  color: rgba(255, 255, 255, .4);
}
.create-alarm-page .alarm-time-selection div .third {
  font-size: 2.75rem;
}

.alarm-time-meridiem {
  display: flex;
  align-items: end;
}

.first {
  opacity: 0.6;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.second {
  opacity: 0.8;
  transform: scale(1.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.third {
  opacity: 1;
  transform: scale(1.5);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.fourth {
  opacity: 0.8;
  transform: scale(1.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.fifth {
  opacity: 0.6;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.create-alarm-meridiem span {
  opacity: 0.4;
  font-weight: 400;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.create-alarm-meridiem span.clock-active-meridiem {
  opacity: 1 !important;
  font-weight: 700 !important;
  transform: scale(1.5) !important;
}

.clock-active-meridiem {
  font-weight: 700;
  opacity: 1;
  transform: scale(1.5);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.alarm-dropdown-container {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  background-color: black;
  padding: 3rem 2rem 1.25rem 2rem;
  transition: .5s;
  color: white;
}
.notif-dropdown {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.alarm-dropdown-container-label {
  display: flex;
  align-items: center;
  color: rgb(205, 205, 205);
  margin-bottom: .75rem;
}
.alarm-dropdown-container-label i {
  font-size: 1.5rem;
  color: white;
  margin-right: .5rem;
}

.alarm-dropdown-information {
  margin-bottom: 1rem;
}
.alarm-dropdown-information span {
  color: rgb(205, 205, 205);
}

.alarm-dropdown-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.alarm-dropdown-action button {
  width: 100%;
  padding: .5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: .5s;
}
.alarm-dropdown-action button:hover {
  background-color: white;
  color: black;
}
.alarm-dropdown-action button:first-child {
  margin-right: 1rem;
}