#secondary-clock-screen {
  background-color: rgb(0, 0, 0);
  padding: 2.75rem 1.25rem;
}

#secondary-clock-screen .clock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#secondary-clock-screen .clock-header .settings-container i {
  font-size: 1.5rem;
  color: rgb(50, 50, 175);
  transition: .35s;
}
#secondary-clock-screen .clock-header .settings-container i:hover {
  transform: scale(1.2);
}

#secondary-clock-screen .clock-footer div {
  text-align: center;
  padding: 0 1rem;
  transition: .3s;
}
#secondary-clock-screen .clock-footer div:hover {
  transform: scale(1.15);
}
#secondary-clock-screen .clock-footer div .icon-container i {
  font-size: 1.15rem;
  margin-bottom: .5rem;
}
#secondary-clock-screen .clock-footer div .section-name {
  font-size: .85rem;
  margin: 0;
}


#secondary-clock-screen main .clock-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .75rem;
  height: 250px;
}
#secondary-clock-screen main .clock-icon-container img {
  position: absolute;
}
#secondary-clock-screen main .clock-icon-container .clock-hands {
  margin-bottom: 52%;
}
#secondary-clock-screen main .clock-icon-container .second-hand,
#secondary-clock-screen main .clock-icon-container .minute-hand,
#secondary-clock-screen main .clock-icon-container .hour-hand {
  width: 1px;
  border-radius: 1px;
  transform-origin: bottom;
  animation-name: rotateHand;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#secondary-clock-screen main .clock-icon-container .clock-hands .second-hand-container,
#secondary-clock-screen main .clock-icon-container .clock-hands .minute-hand-container,
#secondary-clock-screen main .clock-icon-container .clock-hands .hour-hand-container {
  position: absolute;
  transform-origin: bottom;
}

#secondary-clock-screen main .clock-icon-container .second-hand {
  height: 100px;
  background-color: red;
  animation-duration: 60s;
}
#secondary-clock-screen main .clock-icon-container .minute-hand {
  height: 85px;
  margin-top: 15px;
  background-color: white;
  animation-duration: 3600s;
}
#secondary-clock-screen main .clock-icon-container .hour-hand {
  height: 50px;
  margin-top: 50px;
  background-color: white;
  animation-duration: 43200s;
}
@keyframes rotateHand {
  100% {
    transform: rotate(360deg);
  }
}